<div class="container">

    <div class="d-flex flex-wrap align-items-center  justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <a class="navbar-brand" href="/admin">
        <img
          src="https://media.istockphoto.com/vectors/letter-z-template-design-vector-emblem-design-concept-icon-symbol-vector-id946228984?k=6&m=946228984&s=612x612&w=0&h=sK1zYFex2sPwwh1GEXbJESJiHL6etLQiKFa0noLBwlY="
          alt="ZENO" width="50" height="50">
        <title>ZENO</title>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/admin" class="nav-link px-2 active-dark link-dark" aria-current="page">Home</a></li> 
        <li><a href="/admin/setting" class="nav-link dropdown-item px-2 link-dark">Setting</a></li>

      </ul>
     </div>
  </div>
