<!doctype html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Zeno</title>
</head>

<body>
    

    <main>
        <div class="container py-4">

            <header class="p-3 mb-3 border-bottom">
               <%- include('publicHeader'); %>
              </header>
              <div class="p-2 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Valorant Current Stats</h1>
                    <p class="col-md-8 fs-4">Valorant is Riot's answer to Counter-Strike, a competitive FPS shooter that
                        sees some of the largest eSport viewerships of any of the big hitters. With influence taken from
                        hero shooters like Overwatch and Apex Legends fused with the tactical twitchy-aim gameplay of
                        Counter-Strike, Valorant can be daunting for new players.</p>
                
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>Weapons</h2>
                        <p>There are quite a few different weapons in Valorant, and not all weapons were created equal.
                            Split up into different categories — Sidearms, SMGs, Rifles, Shotguns, Machine Guns, and
                            Sniper Rifles — understanding which is the best weapon in Valorant will give you a big
                            advantage going into your first games.</p>
                        <a href="/weapons" class="btn btn-outline-light" type="button" target="_blank">More about</a>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Agents</h2>
                        <p>The Agents are the bread-and-butter of Valorant. Without them, the game is just another
                            shooter. Throw in the complicated mix of abilities and the various strategies that go with
                            them and you have a game that is quite complicated to get into. Not quite on the scale of
                            League Of Legends' massive roster of playable characters, but it's still a lot to learn.</p>
                            <a href="/agents" class="btn btn-outline-secondary" type="button" target="_blank">More about</a>
                    </div>
                </div>
            </div>
        <p></p>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>Maps</h2>
                        <p>There are quite a few different weapons in Valorant, and not all weapons were created equal.
                            Split up into different categories — Sidearms, SMGs, Rifles, Shotguns, Machine Guns, and
                            Sniper Rifles — understanding which is the best weapon in Valorant will give you a big
                            advantage going into your first games.</p>
                        <a href="/maps" class="btn btn-outline-light" type="button" target="_blank">More about</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Pro's Setting</h2>
                        <p>Like any game of its type, getting better at Valorant isn't an easy task. The game has
                            already been out for a year, which means at the higher levels of gameplay you're coming up
                            against people who've put potentially thousands of hours into the game.</p>
                            <a href="/setting" class="btn btn-outline-secondary" type="button" target="_blank">More about</a>
                    </div>
                </div>
            </div>

            <footer class="pt-3 mt-4 text-muted border-top">
                2022 &copy;  ZENO
            </footer>
        </div>
    </main>
    
   

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

   
</body>

</html>