<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <title>Zeno : Ascent</title>
</head>

<body>


  <main>
    <div class="container py-4">

      <header class="p-3 mb-3 border-bottom">
        <%- include('../../publicHeader'); %>
        </header>

      <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/maps/Maps.html">Maps</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ascent</li>
        </ol>
      </div>
      <div class="p-2 mb-4 bg-light rounded-3">
        <div class="card img-gradient">
          <img src="https://d1fytg1nnnd8c0.cloudfront.net/wp-content/uploads/2022/03/ascent-feature-img-1536x864.jpg" class="card-img img-fluid " alt="...">
          <div class="card-img-overlay text-white d-flex justify-content-center align-items-end">
            <div class="white-text">
              <h3>Map : Ascent</h3>
            </div>
          </div>
        </div>
        <div class=" accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              <h4><strong>General</strong></h4>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <table class="table text-center">
                <tr>
                  <td><strong>Location</strong> </td>
                  <td> San Marco, Venice, Italy</td>
                </tr>



                <tr>
                  <td><strong>Coordinates</strong> </td>
                  <td>
                    <p>
                      45°26'BF" N 12°20'Q" E</p>
                    <p>
                      (45°26'15" N 12°20'9" E)</p>

                  </td>
                </tr>
                <tr>
                  <td><strong>Spike Sites</strong>
                  </td>
                  <td> A/B

                  </td>
                </tr>

                <tr>
                  <td><strong>Dynamic Element(s</strong> </td>
                  <td>
                    <p> Irreversible bomb doors</p>

                  </td>
                </tr>

                <tr>
                  <td><strong>Added</strong> </td>
                  <td> June 2nd, 2020
                  </td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <p class=" display-5 fw-bold">Summary</p>
        <hr align="left" width="50%" color="black">

        <p class="col-md-8 fs-6">"An open playground for small wars of position and attrition divide two sites on
          Ascent. Each site can be fortified by irreversible bomb doors; once they’re down, you’ll have to destroy them
          or find another way. Yield as little territory as possible."


        </p>


        <h2>
          <p class="display-6 fw-bold">Map Features</p>
        </h2>
        <hr align="left" width="50%" color="black">

        <p>Ascent is a map set in Italy that features a large, open middle area that both teams can skirmish over. Mid
          is a playground for diverse ability use and successfully controlling the area opens additional routes for
          Attackers to both Spike sites.</p>


        <p>The map's 'unique' feature is mechanical doors leading into sites. Each site has one door (A Link for A and
          Market for B) that is opened at the start of each round. Players can use a switch on the site side of the door
          (Next to the door on A and on a table in Toolshed on B) to close or open the door. These doors are
          impenetrable while closed, but players can damage the doors to eventually destroy them, leaving the doorway
          permanently open.</p>






        <p class="display-6 fw-bold">Trivia</p>
        <hr align="left" width="50%" color="black">
        <p class="col-md-8 fs-6">&bullet; Map coordinates at 45°26'BF" N 12°20'Q" E in San Marco, Venice, Italy.
        </p>
        <p class="col-md-8 fs-6">&bullet; The map contains landmarks from this location such as St. Mark's Campanile and
          St. Mark's Basilica.</p>
        <p class="col-md-8 fs-6">&bullet; The B site for Ascent appear to be similar to the Practice Map's Bomb Plant
          Practice.</p>
        <p class="col-md-8 fs-6">&bullet; Ascent was the first map ever made. Its later release date than the Beta maps
          was likely due to the map going through a lot of iteration.</p>
        <p class="col-md-8 fs-6">&bullet; At Mid Bottom, there is a park bench themed after Tahm Kench from League of
          Legends. It is most likely a reference to the "Unbench the Kench" meme.

        </p>
        <p class="col-md-8 fs-6">&bullet; Ascent is a part of Venice that rose out of the ground after a spike
          detonation. The lead-up and fallout of this event have been shown in the cinematic DUELISTS and DUALITY,
          respectively</p>
        <p class="col-md-8 fs-6">&bullet; It is presumed that a Mirror Jett was able to plant and detonate a spike in Venice.</p>
        <p class="col-md-8 fs-6">&bullet; Before the existence of the Mirror Earth was revealed, Jett had a scrapped quote talking about how people thought Venice was her fault, alluding to the fact that it wasn't Earth 1 Jett but the Mirror Jett who had caused the disaster.</p>

        <p class="display-6 fw-bold">Ascent</p>
        <hr align="left" width="50%" color="black">
        <div class="row">
          <div class="col-sm-5">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://i0.wp.com/thegamehaus.com/wp-content/uploads/2020/05/New-Valorant-Map-Ascent.png?resize=500%2C500&ssl=1" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Minimap</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt47bef6aa9e43d8ec/5ecd64df96a8996de38bbf8f/ascent-minimap-2.jpg?auto=webp&width=515" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Call Out</p>
              </div>
            </div>
          </div>
        </div>

        <p class="display-6 fw-bold">Gallery</p>
        <hr align="left" width="50%" color="black">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="card-deck">
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt930666d9ab927326/5eabe9c45751b2150e57a42c/ascent1.jpg?auto=webp&width=915">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt9e24fe356d0faf81/5eabe9c497c0a55d71b7fceb/ascent2.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt77e465b8079103af/5eabe9c4af7e315106b479a1/ascent3.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta7375f4e704347dc/5eabe9c4b8a6356e4ddc0caa/ascent4.jpg?auto=webp&width=915 alt="Card image cap">

              </div>
            </div>
            <p></p>


          </div>


        </div>
      </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
    </div>
  </main>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>