<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <title>Zeno : Bind</title>
</head>

<body>


  <main>
    <div class="container py-4">

      <header class="p-3 mb-3 border-bottom">
        <%- include('../../publicHeader'); %>
        </header>

      <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/maps/Maps.html">Maps</a></li>
          <li class="breadcrumb-item active" aria-current="page">Bind</li>
        </ol>
      </div>
      <div class="p-2 mb-4 bg-light rounded-3">
        <div class="card img-gradient">
          <img src="https://www.esportelandia.com.br/wp-content/uploads/2020/07/bind-valorant.jpg" class="card-img img-fluid " alt="...">
          <div class="card-img-overlay text-white d-flex justify-content-center align-items-end">
            <div class="white-text">
              <h3>Map : Bind</h3>
            </div>
          </div>
        </div>
        <div class=" accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              <h4><strong>General</strong></h4>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <table class="table text-center">
                <tr>
                  <td><strong>Location</strong> </td>
                  <td> Rabat, Morocco</td>
                </tr>



                <tr>
                  <td><strong>Coordinates</strong> </td>
                  <td>
                    <p>
                      34°2'A" N 6°51'Z" W</p>
                    <p>
                      (34°2'0" N 6°51'0" W)</p>

                  </td>
                </tr>
                <tr>
                  <td><strong>Spike Sites</strong>
                  </td>
                  <td> A/B

                  </td>
                </tr>

                <tr>
                  <td><strong>Dynamic Element(s</strong> </td>
                  <td>
                    <p> One-way teleporters</p>

                  </td>
                </tr>

                <tr>
                  <td><strong>Added</strong> </td>
                  <td> Beta Launch Map
                  </td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <p class=" display-5 fw-bold">Summary</p>
        <hr align="left" width="50%" color="black">

        <p class="col-md-8 fs-6">"Two sites. No middle. Gotta pick left or right. What’s it going to be then? Both offer
          direct paths for attackers and a pair of one-way teleporters make it easier to flank."


        </p>


        <h2>
          <p class="display-6 fw-bold">Map Features</p>
        </h2>
        <hr align="left" width="50%" color="black">

        <p>Bind's 'unique' feature is that it doesn't contain a mid section, instead having two one-way teleporters. One takes players from A Short to B Short and the other takes players from B Long to A Lobby.</p>


        <p>Players use teleporters by walking into the section of wall taken up by the teleport entrance. They will then instantly arrive in a small exit room which players leave by walking towards the door out of the room. This door is closed by default and can only be opened by players inside the exit room walking up to it, at which point they will open automatically. Players outside the exit room cannot open these doors, but they can be penetrated by gunfire.</p>
        <p>Other objects can also be sent through teleporters if they come into contact with the teleporter entrance. They will maintain any velocity they had before being teleported and can open the doors and leave the exit room should they travel far enough to trigger the door sensor. Objects include abilities, the spike, and dropped weapons.</p>
        <p>Whenever a teleporter is used by an agent or an object, all players on the map will be given an audio cue.</p>






        <p class="display-6 fw-bold">Trivia</p>
        <hr align="left" width="50%" color="black">
        <p class="col-md-8 fs-6">&bullet; Map coordinates at 34°2'A" N 6°51'Z" W, off the coast of Rabat, Morocco.
        </p>
        <p class="col-md-8 fs-6">&bullet; Bind and Rabat are Cypher's home</p>
       

        <p class="display-6 fw-bold">Bind</p>
        <hr align="left" width="50%" color="black">
        <div class="row">
          <div class="col-sm-5">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://assets.rockpapershotgun.com/images/2020/04/Valorant-Bind-map.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Minimap</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltad4274632c983531/5ecd64d04d187c101f3f2486/bind-minimap-2.png?auto=webp&width=515" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Call Out</p>
              </div>
            </div>
          </div>
        </div>

        <p class="display-6 fw-bold">Gallery</p>
        <hr align="left" width="50%" color="black">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="card-deck">
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltc54ad3a88d94a4d6/5eabe92eaf7e315106b4799b/bind1.jpg?auto=webp&width=915">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt4d395d5eb0c5aeec/5eabe92d97c0a55d71b7fce5/bind2.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt275a73b80ff9eb5a/5eabe92db8a6356e4ddc0c92/bind3.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt81c2ff999b2e5887/5eabe92d08d37e6d82ef715a/bind4.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta6be60823002f711/5eabe92d4398082ffe23fdb5/bind5.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta7ba841d52448022/5eabe92e2b79652f27c326c4/bind6.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>


          </div>


        </div>
      </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
    </div>
  </main>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>