<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <title>Zeno : Breeze</title>
</head>

<body>


  <main>
    <div class="container py-4">

      <header class="p-3 mb-3 border-bottom">
        <%- include('../../publicHeader'); %>
      </header>

      <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Maps</a></li>
          <li class="breadcrumb-item active" aria-current="page">Breeze</li>
        </ol>
      </div>
      <div class="p-2 mb-4 bg-light rounded-3">
        <div class="card img-gradient">
          <img
            src="https://www.hotspawn.com/app/uploads/2021/04/Breeze-Cover.webp"
            class="card-img img-fluid " style=" width: 650; height: 650;" alt="...">
          <div class="card-img-overlay text-white d-flex justify-content-center align-items-end">
            <div class="white-text">
              <h3>Map : Breeze</h3>
            </div>
          </div>
        </div>
        <div class=" accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              <h4><strong>General</strong></h4>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <table class="table text-center">
                <tr>
                  <td><strong>Location</strong> </td>
                  <td> Atlantic Ocean</td>
                </tr>



                <tr>
                  <td><strong>Coordinates</strong> </td>
                  <td>
                    <p>
                      26°11'AG" N 71°10'WY" W</p>
                    <p>
                      (26°11'06" N 71°10'31" W)</p>

                  </td>
                </tr>
                <tr>
                  <td><strong>Spike Sites</strong>
                  </td>
                  <td> A/B

                  </td>
                </tr>

                <tr>
                  <td><strong>Dynamic Element(s</strong> </td>
                  <td>
                    <p> ascenders</p>
                    <p>
                      Mechanical door</p>
                    <p>
                      One-way chute</p>
                  </td>
                </tr>

                <tr>
                  <td><strong>Added</strong> </td>
                  <td> April 27th, 2021
                  </td>
                </tr>
                <tr>
                  <td><strong>Creator</strong> </td>
                  <td>Teknika Firearms</a></td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <p class=" display-5 fw-bold">Setting</p>
        <hr align="left" width="50%" color="black">

        <p class="col-md-8 fs-6">Take in the sights of historic ruins or seaside caves on this tropical paradise. But
          bring some cover. You'll need them for the wide open spaces and long range engagements. Watch your flanks and
          this will be a Breeze.


        </p>


        <h2>
          <p class="display-6 fw-bold">Map Features</p>
        </h2>
        <hr align="left" width="50%" color="black">

        <p> Breeze's 'unique' features are present on the A side of the map, mostly to do with A Hall. There are ropes
          to get players into A Hall. On the defending side players can use the rope at the back of A Site to get onto
          Bridge and into Hall, and on the attacking side players can use the rope in A Lobby to get into Hall.</p>


        <p>A Site has an impenetrable, indestructible mechanical door leading into A Hall that can be opened and closed
          using switches on either side. The door is closed at the start of each round.</p>
        <p>Towards the Attacker side of Hall is a one-way chute (known as a 'vent') that can be used to go to Mid.

        </p>





        <p class="display-6 fw-bold">Trivia</p>
        <hr align="left" width="50%" color="black">
        <p class="col-md-8 fs-6">&bullet; Map coordinates at 26°11'AG" N 71°10'WY" W, off the coast of the Bahamas, in
          the middle of the Bermuda Triangle, Atlantic Ocean.
        </p>
        <p class="col-md-8 fs-6">&bullet; Unlike most other maps, Breeze's coordinates were not initially included in
          the loading screen until November 2021.</p>
        <p class="col-md-8 fs-6">&bullet; Previously assigned coordinates before this update were based off of a player
          card called 25° N, 71° W.</p>
        <p class="col-md-8 fs-6">&bullet; Outside of the playable map overlooking A Site is the front half of a
          container ship that contains a Kingdom Corporation work area. This area contains various Kingdom-branded
          crates, computers, servers, and a triangular teleporter</p>
        <p class="col-md-8 fs-6">&bullet; On release, the teleporter was abandoned and inactive. It has since received
          four updates, likely going through the events that led to KAY/O arriving on Earth-1 from his alternate
          timeline:
        <p class="col-md-8 fs-6">&bullet; 2.09: The sign below the teleporter on the wall of A Site activated, stating
          "Sequence Initiated"</p>
        <p class="col-md-8 fs-6">&bullet; Another 2.09 update happened two weeks later. The teleporter activated and the
          sign updated to state "Target Locked"</p>
        <p class="col-md-8 fs-6">&bullet; 2.11: The sign updated to state "Arrival Imminent", the teleporter's portal
          resembled a more operational state like those seen on Bind (instead of the portal being bright blue from the
          previous update), and a knife had been sent through, embedding itself in a Radianite crate.</p>
        <p class="col-md-8 fs-6">&bullet; 3.0: The sign updated to state "Portal Breach", with an image of KAY/O. The
          knife was removed from the Radianite crate.</p>
        </p>
        <p class="col-md-8 fs-6">&bullet; The fact that there was an operational teleporter may have unintentionally
          been revealed in the Breeze map trailer, in which it was shown to be active unlike how it appeared on the live
          map at the time</p>
        <p class="col-md-8 fs-6">&bullet; This trailer also shows that at some point, the pyramids on A site could also
          be activated</p>
        <p class="col-md-8 fs-6">&bullet; Another landmark in the background is "Wolf's Mansion", a property owned by
          someone named Thurston Wolf.</p>
        <p class="col-md-8 fs-6">&bullet; Wolf is an important figure for Breeze and why both the VALORANT Protocol and
          the Mirror Earth are interested in the island.</p>
        <p class="display-6 fw-bold">Breeze</p>
        <hr align="left" width="50%" color="black">
        <div class="row">
          <div class="col-sm-5">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://pbs.twimg.com/media/EzrJoeBWEAcuu1x?format=png&name=small" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Minimap</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt1aa82531c6b3a04b/607fa05b33cf413db790d632/breeze_1a.jpg?auto=webp&width=515" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Call Out</p>
              </div>
            </div>
          </div>
        </div>

        <p class="display-6 fw-bold">Gallery</p>
        <hr align="left" width="50%" color="black">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="card-deck">
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltde7c2fc29aa0d3a0/607f9e3ce650b13fbe2129d2/breeze_2.jpg?auto=webp&width=915">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt174b8512c8e4d6a5/607f9e3c03ce953dac7563e4/breeze_3.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt706ed4624cc5353d/607f9e3db35a7a3c69a373b8/breeze_5.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltc1e8e8a2228fef3a/607f9e3e92f0063e5c0711cb/breeze_6.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt87534a4d10140c71/607f9e3f03ce953dac7563e8/breeze_8.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltd323a27f0a9daa93/607f9e4012dc9d3c68356aca/breeze_10.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta0463cfd3f61287d/607f9e4f1cac355a10f6bf96/breeze_12.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta0463cfd3f61287d/607f9e4f1cac355a10f6bf96/breeze_12.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>


          </div>


        </div>
      </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
    </div>
  </main>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>