<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <title>Zeno : IceBox</title>
</head>

<body>


  <main>
    <div class="container py-4">

      <header class="p-3 mb-3 border-bottom">
        <%- include('../../publicHeader'); %>
        </header>

      <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/maps/Maps.html">Maps</a></li>
          <li class="breadcrumb-item active" aria-current="page">IceBox</li>
        </ol>
      </div>
      <div class="p-2 mb-4 bg-light rounded-3">
        <div class="card img-gradient">
          <img src="https://cdn.oneesports.gg/cdn-data/wp-content/uploads/2020/10/Valorant_Iceboxtopdown-1024x560.jpg" class="card-img img-fluid " alt="...">
          <div class="card-img-overlay text-white d-flex justify-content-center align-items-end">
            <div class="white-text">
              <h3>Map : IceBox</h3>
            </div>
          </div>
        </div>
        <div class=" accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              <h4><strong>General</strong></h4>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <table class="table text-center">
                <tr>
                  <td><strong>Location</strong> </td>
                  <td> Bennett Island, Sakha, Russia</td>
                </tr>



                <tr>
                  <td><strong>Coordinates</strong> </td>
                  <td>
                    <p>
                      76°44'A" N 149°30'Z" E</p>
                    <p>
                      (76°44'0" N 149°30'0" E)</p>

                  </td>
                </tr>
                <tr>
                  <td><strong>Spike Sites</strong>
                  </td>
                  <td> A/B

                  </td>
                </tr>

                <tr>
                  <td><strong>Dynamic Element(s</strong> </td>
                  <td>
                    <p> Rope ascenders</p>
                    <p>
                      Ziplines</p>
                  </td>
                </tr>

                <tr>
                  <td><strong>Added</strong> </td>
                  <td> October 13th, 2020
                  </td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <p class=" display-5 fw-bold">Summary</p>
        <hr align="left" width="50%" color="black">

        <p class="col-md-8 fs-6">Your next battleground is a secret Kingdom excavation site overtaken by the arctic. The
          two plant sites protected by snow and metal require some horizontal finesse. Take advantage of the ziplines
          and they’ll never see you coming.


        </p>


        <h2>
          <p class="display-6 fw-bold">Map Features</p>
        </h2>
        <hr align="left" width="50%" color="black">

        <p><b>Icebox</b> is the first map to introduce horizontal ziplines, seen at the A Site. Each Icebox site is a complex combat space that features plenty of cover and verticality. This map emphasizes skirmishes, sharp aim, and adaptive play.</p>


        <p>It is also the first map where the plant site has different levels of elevation. Both sites contain nests that players can get into using ropes and then plant the spike on the nest floor.</p>
        





        <p class="display-6 fw-bold">Trivia</p>
        <hr align="left" width="50%" color="black">
        <p class="col-md-8 fs-6">&bullet; Some containers show an address for "The Kingdom Corp" at 12333 W Olympic Blv., Los Angeles, CA 90064. This is actually the real-life location of Riot Games' HQ.
        </p>
        <p class="col-md-8 fs-6">&bullet; Map coordinates at 76°44'A" N 149°30'Z" E, off the coast of Bennett Island, Sakha, Russia.</p>
        <p class="col-md-8 fs-6">&bullet; Outside of the playable map area overlooking A Site is a room containing a closed pod that has a suit of Japanese Samurai armor inside</p>
        <p class="col-md-8 fs-6">&bullet; On initial release, the room was abandoned like the rest of the map, and the pod's armor also contained a mask</p>
        <p class="col-md-8 fs-6">&bullet; After Yoru's release, this area of the map was updated to show that it had been broken into. The glass separating the room from A Site was shattered, as had the top half of the pod. The armor's mask had been removed, and what appears to be a radianite trail leads from where the mask was out of the room and out through a hole blasted through the roof of A Site
        <p class="col-md-8 fs-6">&bullet; It is thought that the mask taken from this armor is the one Yoru uses during his Dimensional Drift.png ultimate and that therefore it was Yoru himself who carried out this break in. This is further evidenced by Yoru confirming to Phoenix that he knew his way around the place when the two went there to respond to a spike attack.</p>
        
        <p class="display-6 fw-bold">IceBox</p>
        <hr align="left" width="50%" color="black">
        <div class="row">
          <div class="col-sm-5">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://preview.redd.it/u1cm50qj32t51.png?width=352&format=png&auto=webp&s=9ca5f63875b939b7ce384e756d303f577a9f5d07" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Minimap</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt99dbdb8199ef057e/626c2e245d936230ca8ea9d6/04-2022-Icebox-Minimap-2.jpg?auto=webp&width=515" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Call Out</p>
              </div>
            </div>
          </div>
        </div>

        <p class="display-6 fw-bold">Gallery</p>
        <hr align="left" width="50%" color="black">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="card-deck">
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt9ef7b41910a14118/5f80debff6c586323f8b17a3/icebox_1.jpg?auto=webp&width=915">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta5558199bebb5107/5f80debfa50ed742e7fca4b9/icebox_3.jpg?auto=webp&width=915 " alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">

                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt5e97ee30cae1b6b6/5f80dec04671ee30c689ca24/icebox_5.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltd665c580a4b876c2/5f80debf271ecf4a1a642fe2/icebox_6.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt3073fafdd0e84ca8/5f80dec03f52332642075f9b/icebox_7.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt5afffe335e51db97/626c2e23d2794936634f95ce/04-2022-Icebox-9.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt700077e30f72cfd9/626c2e23bae21939d54447be/04-2022-Icebox-10.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt31a23d8039f4b397/626c2e248c90c334d0d403ab/04-2022-Icebox-11.jpg?auto=webp&width=915" alt="Card image cap">

              </div>
            </div>
            <p></p>
            


          </div>


        </div>
      </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
    </div>
  </main>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>