<!doctype html>
<html lang="en">

<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Zeno : Maps</title>
</head>

<body>



    <main>
        <div class="container py-4">

          <header class="p-3 mb-3 border-bottom">
            <%- include('../../publicHeader'); %>
            </header>
  
            <div class="p-2 mb-4 bg-light rounded-3">
                <div class="container-fluid py-4">
                    <h2 class="display-4 fw-bold">Maps</h2>
                    <p class="col-md-8 fs-4">There are currently 4 maps in Valorant. This does put it a bit behind
                        other competitive shooters, but it means that a beginner can pick up the game and learn the
                        different maps fairly quickly.</p>

                    <p class="col-md-8 fs-4"> Each map is split up with conventional FPS lanes and different
                        "bomb sites." Some maps, like Bind, have different means of getting around the map (like
                        Teleporters). Most of the maps are well-balanced — they were designed largely by
                        ex-professional Counter-Strike players. But some maps, like Ascent, do have a worrying
                        percentage slant in Defender victories. The developers are not averse to making changes to
                        the maps, so it's a good idea to stay on top of patches and meta-changes.
                    </p>
                    <p class="col-md-8 fs-4">Out of all the Valorant maps, Bind is likely the one you've seen the most
                        of as a casual spectator: it's highly favored in competitive play. Breeze, the game's newest
                        map, did not feature during the recent tournament in Reyjakivik but is now available to play in
                        public matches.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="card text-dark" style="width: 40rem;">
                            <img src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltc1e8e8a2228fef3a/607f9e3e92f0063e5c0711cb/breeze_6.jpg?auto=webp&width=915" class="card-img-top" alt="...">
                            <a class="btn btn-dark" href="/maps/breeze">Breeze</a>
                          </div>
                          
                        <div class="card text-dark" style="width: 40rem;">
                            <img src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt9ef7b41910a14118/5f80debff6c586323f8b17a3/icebox_1.jpg?auto=webp&width=915" class="card-img-top" alt="...">
                            <a class="btn btn-dark" href="/maps/icebox">IceBox</a>
                          </div>
                        <div class="card text-dark" style="width: 40rem;">
                            <img src="https://vignette.wikia.nocookie.net/valorant/images/2/23/Loading_Screen_Bind.png/revision/latest?cb=20200620202316" class="card-img-top" alt="...">
                            <a class="btn btn-dark" href="/maps/bind">Bind</a>
                          </div>
                        <div class="card text-dark" style="width: 40rem;">
                            <img src="https://i.pinimg.com/originals/b2/79/00/b27900b7fef7fb7276196da924163a62.jpg" class="card-img-top" alt="...">
                            <a class="btn btn-dark" href="/maps/ascent">Ascent</a>
                          </div>
                        </div>

                    <footer class="pt-3 mt-4 text-muted border-top">
                        &copy; 2022
                    </footer>
                </div>
    </main>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

   
</body>

</html>