<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Zeno : Weapons</title>
</head>

<body>


    <main>
        <div class="container py-4">

            <header class="p-3 mb-3 border-bottom">
                <%- include('../../publicHeader'); %>
               </header>
            <div class="p-2 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Weapons Of Valorant</h1>
                    <p class="col-md-8 fs-4">There are quite a few different weapons in Valorant, and not all weapons
                        were created equal. Split up into different categories — <strong>, SMGs, Rifles, Shotguns,
                            Machine Guns, and Sniper Rifles</strong> — understanding which is the best weapon in
                        Valorant will give
                        you a big advantage going into your first games.</p>

                    <p class="col-md-8 fs-4">All Agents receive a "classic" sidearm for free, along with a knife,
                        regardless of whether or
                        not they spend credits. These will stay with you round after round. To get your hands on some
                        more powerful firepower, you'll need to spend your creds.</p>
                    <!--BUTTON<button class="btn btn-primary btn-lg" type="button"><a href="www.google.com"
                            class="btn btn-primary btn-lg"> <b>Valorant Stats</b></button></a>-->
                </div>
            </div>

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-6 row-cols-md-2 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                    src="https://vgraphs.com/images/weapons/valorant-operator-profile-icon.png" height="40" width="80">

                                <div class="card-body">
                                    <p class="card-text">
                                    <H2><strong>Operator</strong></H2>The OP of Valorant, the Operator is a
                                    high-powered long-range sniper rifle that is capable of killing fully-armored
                                    enemies at any range. It's ideal for peeking corners and holding down long
                                    sightlines. Any team will want to prioritize picking up an Operator as soon as
                                    possible. The weapon costs 5,000 creds to unlock.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/weapons/operator" class="btn btn-outline-secondary" type="button"
                                            target="_blank">More about</a>
                                        <small class="text-muted">Sniper</small>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                    src="https://vgraphs.com/images/weapons/valorant-phantom-profile-icon.png"> </img>

                                <div class="card-body">
                                    <p class="card-text">
                                    <H2><strong>Phantom</strong></H2>This Assault Rifle is closely contested
                                    by the Vandal, the other popular assault rifle, in a rivalry that is a
                                    bit like the choice between the M4 and AK in Counter Strike. The Phantom
                                    has a fast fire rate, excellent accuracy with the first bullet, and is
                                    reasonably priced at 2,900 creds.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/weapons/phantom" class="btn btn-outline-secondary" type="button"
                                            target="_blank">More about</a>
                                        <small class="text-muted">AR</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                    src="https://vgraphs.com/images/weapons/valorant-vandal-profile-icon.png"> </img>

                                <div class="card-body">
                                    <p class="card-text">
                                    <H2><strong>Vandal</strong></H2> The main difference between the Phantom and Vandal
                                    is the damage output. Compared to the Phantom, the Vandal is great for one-tapping
                                    enemies with a headshot.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/weapons/vandal" class="btn btn-outline-secondary" type="button"
                                            target="_blank">More about</a>
                                        <small class="text-muted">AR</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                    src="https://vgraphs.com/images/weapons/valorant-classic-profile-icon.png"> </img>

                                <div class="card-body">
                                    <p class="card-text">
                                    <H2><strong>classic</strong></H2> In first-person shooter games, players are
                                    typically given a free starter gun of some kind. For example, pistols are the most
                                    common starter gun in any first-person shooter game.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/weapons/classic" class="btn btn-outline-secondary" type="button"
                                            target="_blank">More about</a>
                                        <small class="text-muted">Hand Gun</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    </main>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

   
</body>

</html>