<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Zeno : Sage</title>
  <link rel="stylesheet" href="jett.css">
</head>

<body>


  <main>
    <div class="container py-4">

      <header class="p-3 mb-3 border-bottom">
        <%- include('../../publicHeader'); %>
        </header>

      <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/agents/Agents.html">Agents</a></li>
          
          <li class="breadcrumb-item active" aria-current="page">Sage</li>
        </ol>
      </div>
      <div class="p-2 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h2 class="display-5 fw-bold">Agent : Sage</h2>
        </div>

        <div class="row gx-5">
          <div class="col">
            <div class="p-3 border bg-light"><img src="https://trackercdn.com/cdn/tracker.gg/valorant/db/agents/sage_portrait.png"
                style="width: 500px; ; height: 700px;"></div>
          </div>
          <div class="col">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    <strong>Biography</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <table class="table table-dark"">
                      <tr>
                        <td><strong>Real Name</strong> </td>
                        <td>Ling Ying Wei</a></td>
                      </tr>
                      <tr>
                        <td><strong>Aliases</strong> </td>
                        <td>The Balm of Shaanxi</a></td>
                      </tr>
                     
                      <tr>
                        <td><strong>Origin</strong> </td>
                        <td>China</a></td>
                      </tr>
                     
                      <tr>
                        <td><strong>Race</strong> </td>
                        <td>Radiant</a></td>
                      </tr>
                     
                      <tr>
                        <td><strong>Gender</strong> </td>
                        <td>&female; Female</a></td>
                      </tr>
                     
                      <tr>
                        <td><strong>Affiliation(s)</strong> </td>
                        <td>Valorant Protocol</a></td>
                      </tr>
                     
                    </table> 
                  </div>
                </div>
              </div>
              <div class=" accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseTwo">
                          <strong>Game Details</strong>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                          <table class="table table-dark"">
                            <tr>
                              <td><strong>Role</strong> </td>
                              <td><img
                              src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt72ffc2e48d4a7a58/5eaa06852b79652f27c31ff6/Sentinel.png" height="25" width="25"> Sentinel</td>
                            </tr>

                            <tr>
                              <td><strong>Basic Abilities</strong> </td>
                              <td> 1. &nbsp; <img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/grenade/displayicon.png" height="36" width="36"> Barrier Orb
                                <p> 2. &nbsp; <img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/ability1/displayicon.png" height="36" width="36"> Slow Orb</p>
                              </td>
                            </tr>

                            <tr>
                              <td><strong>Signature Abilities</strong> </td>
                              <td><img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/ability2/displayicon.png" height="36" width="36"> Healing Orb</a></td>
                            </tr>

                            <tr>
                              <td><strong>Ultimate Ability</strong> </td>
                              <td><img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/ultimate/displayicon.png" height="36" width="36" alt=""> Resurrection</a></td>
                            </tr>
                            <tr>
                              <td><strong>Ult. Points</strong> </td>
                              <td> ♦♦♦♦♦♦♦♦ 8</a></td>
                            </tr>

                          </table>

                        </div>
                      </div>
                  </div>
                  <div class="accordion-item fw-bold">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree fw-bold">
                        Out-of-Universe
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                        <table class="table table-dark"">
                          <tr>
                            <td><strong>Codenames</strong> </td>
                            <td>Thorne
                            </td>
                          </tr>
                         
                          <tr>
                            <td><strong>Added</strong> </td>
                            <td>June 2, 2020 (launch)</a></td>
                          </tr>
                         
                          <tr>
                            <td><strong>Voice Actor</strong> </td>
                            <td>Naomi Yang</td>
                          </tr>
                         
                        </table> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <p class=" display-5 fw-bold">Profile</p>
                          <hr align="left" width="50%" color="black">
                          <p class="display-6 fw-bold">Biography</p>
                          <p class="col-md-8 fs-6">Ling Ying Wei is a Radiant monk from China who went on to become an
                            agent for the VALORANT Protocol, being its seventh recruit, "Sage". She was able to work her
                            way quickly up the ranks, becoming the Protocol's second-in-command under Brimstone and over
                            more veteran agents. Sage has especially been active in radiant agent recruitment and
                            training, interacting with multiple new radiants upon recruitment and taking the lead on a
                            radiant training program.
                          </p>

                          <h2>
                            <p class="display-6 fw-bold">Personality</p>
                          </h2>
                          <p class="col-md-8 fs-6">
                            Described as a stronghold, Sage is an agent who always looks out for her teammates and
                            offers help whenever she can. She has fully embraced her powers which give her control of
                            life, and wishes to use them to keep her team alive for as long as possible. Calmer and more
                            collected than some of her more energetic allies, Sage always imparts encouraging words to
                            rally the team up and guide them to victory.</p>

                          <p class="display-6 fw-bold">
                            Appearance
                          </p>
                          <p class="col-md-8 fs-6">
                            Sage is a fair skinned, apparently tall woman with very long black hair that reaches her
                            knees. Her inner clothing is black, and her outer, looser clothing is white. She also wears
                            green, as a collar, belt and design on her outer clothing. For accessories, she wears her
                            green orbs around her lower body and smaller ones as earrings.
                          </p>
                         
                          <p class="display-6 fw-bold">Quotes</p>
                          <hr align="left" width="50%" color="black">


                          <div class="card mb-3 align-items-center" style="max-width: 750px;">
                            <div class="card-body">
                              <figure>

                                <blockquote class="blockquote">
                                  <p><strong><h2>"I am both shield and sword."</h2>
                                      
                                      
                                    </strong></p>
                                </blockquote>
                                <figcaption class="blockquote-footer fs-4">
                                  Sage
                                  
                                </figcaption>
                              </figure>
                            </div>
                          </div>
                          <p></p>
                          <p></p>
                          <p></p>
                          <p class="display-6 fw-bold">Abilities</p>
                          <hr align="left" width="50%" color="black">
                          
                          <p class="display-6 fw-bold">Basic</p>
                          <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="card mb-3 text-light bg-dark" style="max-width: 800px;">

                              <div class="row g-0"><p></p>
                                <div class="col-md-4 ps-4 ">
                                  <p></p>
                                  <img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/grenade/displayicon.png" 
                                    class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title fw-bold"><span class="badge bg-secondary"> C </span>
                                      BARRIER ORB</h5>
                                    <p class="card-text">EQUIP a barrier orb. FIRE places a wall that fortifies after a few seconds. ALT FIRE rotates the targeter.</p>
                                    <div class="d-flex justify-content-between align-items-center">

                                      <small class="fw-bold">Uses : 1 ┃ <a>Creads : 400 ┃ <a>Health : 400 HP, 800 HP when fortified</a></small>
                                    <p></p>
                                    </div>
<p></p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                          <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="card mb-3 text-light bg-dark" style="max-width: 800px;">

                              <div class="row g-0">
                                <div class="col-md-4 ps-4 pt-3">
                                  <p></p>
                                  <img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/ability1/displayicon.png" width="75%" height="100%"
                                    class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <p></p>
                                    <h5 class="card-title fw-bold"><span class="badge bg-secondary">Q</span> SLOW ORB
                                    </h5>
                                    <p class="card-text">EQUIP a slowing orb. FIRE to throw a slowing orb forward that detonates upon landing, creating a lingering field that slows players caught inside of it.</p>
                                    <div class="d-flex justify-content-between align-items-center">

                                      <small class="fw-bold ">Uses : 2 ┃ <a>Creads : 
                                          200</a> ┃ <a>Duration 7 s</a> </small>

                                    </div>

                                  </div>

                                </div>
                                <p></p>
                              </div>
                            </div>
                          </div>
                          <p class="display-6 fw-bold">Signature</p>
                          <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="card mb-3 text-light bg-dark" style="max-width: 800px;">

                              <div class="row g-0">
                                <div class="col-md-4 pt-4">
                                  <p></p>
                                  <img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/ability2/displayicon.png"  width="75%" height="100%" style="margin-left: 1rem"
                                    class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title fw-bold"><span class="badge bg-secondary">E</span> HEALING ORB
                                    </h5>
                                    <p class="card-text">EQUIP a healing orb. FIRE with your crosshairs over a damaged ally to activate a heal-over-time on them. ALT FIRE while Sage is damaged to activate a self heal-over-time.</p>
                                    <div class="d-flex justify-content-between align-items-center">

                                      <small class=" fw-bold">Uses : 1 ┃ Free ┃ <a>Duration : 5 s (Ally), 10 s (Self-cast)</a>  <p>
                                        <div class="text-aline-center"> CoolDown : 45 s ┃ <a> Heal : 60HP</a></div> </p>
                                       </small>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p class="display-6 fw-bold">Ultimate</p>
                          <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="card mb-3 text-light bg-dark" style="max-width: 800px;">

                              <div class="row g-0">
                                <div class="col-md-4">
                                  <p></p>
                                  <img src="https://titles.trackercdn.com/valorant-api/agents/569fdd95-4d10-43ab-ca70-79becc718b46/abilities/ultimate/displayicon.png" width="75%" height="100%" style="margin-left: 1rem"
                                    class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title fw-bold"><span class="badge bg-secondary">X</span> RESURRECTION
                                    </h5>
                                    <p class="card-text">EQUIP a resurrection ability. FIRE with your crosshairs placed over a dead ally to begin resurrecting them. After a brief channel, the ally will be brought back to life with full health.</p>
                                    <div class="d-flex justify-content-between align-items-center">

                                      <small class=" fw-bold">♦♦♦♦♦♦♦♦ 8 points </small>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p></p>
                          <p></p>

                      </div>


                    </div>


                  </div>

                  <footer class="pt-3 mt-4 text-muted border-top">
                    2022 &copy; ZENO
                  </footer>
                </div>
  </main>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>